
<!-- <div class="products">
<h1>{{products.type}}</h1>
<h1>{{products.company}}</h1>
<h1>{{products.description}}</h1>
<h1>{{products.price}}$</h1>
<h1>discount:{{products.discountPercents}}</h1>
<h1 style="color: rgb(202, 78, 59);">price after discount:{{products.priceAfterDiscount}}$</h1>
<h1>{{products.lucrativeDiscount}}</h1>
</div>
<div style="text-align: center;" >
 <div class="timer" style="margin: 25px;">
            <button (click)="start()">התחל</button><br>
        <button (click)="end()">סיום</button><br>
        {{second / 60}} : {{roundedSeconds % 60}}
        </div>
    </div> -->